{% extends "blog/base.html" %}

{% load static %}

{% block content %}

<div class="col-sm-10">
    <h2 class="my-5">About Page</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum delectus numquam beatae corporis ad doloribus provident sint enim, harum illum.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore nisi rerum itaque. Explicabo assumenda nemo accusantium dicta? Autem animi mollitia quas ipsum sit, nostrum qui tempore reiciendis fugit corrupti facere voluptas. Ea odit voluptas voluptatum quia sint alias ipsam, soluta tempore adipisci qui voluptatem mollitia temporibus dolorum sequi aperiam? Optio.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, dicta magnam assumenda esse ipsum, dolores ratione iure culpa deserunt rerum temporibus itaque modi voluptatibus deleniti, eum doloribus sint a nihil?</p>
</div>


{% endblock content %}